
#cars{
	width: 100%;
	margin: 0 auto;
	padding-top: 30px; 
}

.card-img-top{
	padding-top: 10px;
	width:100%;
	height:auto;
}

.col-12, .col-sm-4{
	padding: 0px;
}

.cardHeader{
	width: 100%;
	border-bottom: 1px solid black;
	
}

.myCard{
	margin: 0 auto;
	border: 1px solid black;
	padding: 0px;
	border-radius: 10px;
	margin: 10px;
       
}
